@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Lilita+One&family=Pangolin&family=Permanent+Marker&family=Rubik+Puddles&display=swap');
.soci{
  text-decoration: none;
  color:red;
}
.tf{
  text-decoration: none;
  color:red;
  position: fixed;
}
.tf:hover{
  color:#bd0000;
  text-decoration:none;
  cursor: grab;
}
h1 {
  color: red;
  text-decoration: none;
}
.main-t {
  color: red;
}
.main_link{
  color: red;
  text-decoration: none;

}
.main_link:hover{
  color:#bd0000;
  text-decoration:none;
  cursor: grab;
}

  .element::before {
    content: "";
    background-image: url('../img/shapkaf.jpg');
    background-repeat: no-repeat;
    opacity: 0.7;
    position: absolute;
    z-index: -1;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;

}
.textc{
  color: red;
}
.merch{
  color: red;
  text-align: center;

}

body {
  background-color:#1f1f1f;
  background-repeat: no-repeat;
  height: 23px;
  background-size: cover;
  font-family:"Creepster", cursive;
  font-size:1.3em;
}

.video-background {
    position:absolute  ;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 300px;
    z-index: -1000;
    overflow: hidden;
}
.clip {
  width: 300;
  height: 300px;
}
*{
  margin: 0;
  padding: 0;
}
#block1{
  /* margin-top: 10px; */
  background: black;
  height: 780px;
  width: 20%;
  bottom: -300px;
  float: left;
  margin-top: 300px;
}
#about{
  background-color: black;
  font-size: 1.3em;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}
#new{
  float: right;
  align: center;
  margin-top: 300px;
  text-align: center;
  height: 780px;
  width: 20%;
  background-color: black;


}
#vidos{
  background-color: black;
  height: auto;
  width: 50%;
  border-right: 5px solid white;
  margin-top:300px;
  margin-left:25%;
  position: absolute;
  border-left: 5px solid white;
  text-align: center;

}
#soc{
  background-color: black;
  height: 780px;
  width: 40%;
  border-right: 5px solid white;
  border-left: 5px solid white;

  margin-top:300px;
  margin-left:30%;
  position: absolute;
  text-align: center;
}
